@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Poppins:wght@400;600;700&family=Roboto:wght@400;700&display=swap');
/** Universal styling **/

/** Color pallette **/
.orange {
  color: #E44600;
}

.yellow {
  color: #DDC04B;
}

.green {
  color: #9CA747;
}

.pinkish {
  color: #D0B795;
}
.blackish {
  color: #0C0202;
}


html {
    background-color: #ffffff;
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

body {
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    
}

header {
  display: inline-flex;
  position: sticky;
  font-size: 1.6rem;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
  z-index: 10;
}

/** Adjust anchor links for header height **/
a[name]::before,
h2 [id]::before {
    content: '';
    display: block;
    visibility: hidden;
    height: 64px;      /* this is the height of your header */
    margin-top: -64px; /* this is the height of your header, negated */
}

main {
  display: block;
  margin: 0 auto;
  padding: 0px;
  width: 100%;
  border: none;

}

section {
  padding: 12px 24px 24px 24px;
  margin: 0 auto;
  width: 96%;
  background-color: white;
}

a:hover, a:active {
cursor: pointer;
}

h1 {
  font-family: Poppins, Roboto, sans-serif;
  font-weight: 600;
}

h2 {
  font-size: 250%;
}

h2, h3, h4, h5, h6 {
font-family: Poppins, Roboto, sans-serif;
font-weight: 600;
}

/** Style logo **/
header .logo {
  display: inline-flex;
  position: sticky;
  padding-left: 48px;
  font-family: 'Merienda One', cursive;
  font-size: 2.5rem;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
  z-index: 11;
}

header .logo img {
  display: inline-flex;
  height: 64px;
  width: auto;
  padding-right: 10px;
}

/** Use media calls to style navigation **/
@media only screen and (min-width: 771px) {
  #mobile-nav {
    display: none;
  }


  #desktop-nav {
      display: flex;
      position: fixed;
      top: 0;
      background-color: white;
      align-items: center;
      z-index: 10;
      width: 100%;
      height: 64px;
      border-bottom: 1px solid lightgray;
  }

  #desktop-nav nav {
    display: inline-flex;
    padding-right: 200px;
    margin-left: auto;
    font-size: 1.2rem;
    align-items: center;
  }
  
  #desktop-nav nav a {
    
    padding-left: 16px;
    font-weight: 600;
    color: #4769b2;
    text-decoration: none;
  }
  
}


@media only screen and (max-width: 770px) {
  #desktop-nav  {
    display: none;
  }

  #mobile-nav {
      display: flex;
      position: fixed;
      top: 0;
      background-color: white;
      align-items: center;
      z-index: 10;
      width: 100%;
      height: 64px;
      padding-left: 24px;
      padding-right: 24px;
      border-bottom: 1px solid lightgray;
  }

  .logo img {
    height: 24px;
  }

  #mobile-nav nav {
      display: inline-flex;
      min-width: 325px;
      max-width: 769px;
      width: 80%;
      justify-content: space-between;
  }

  #mobile-nav nav a {
      display: inline-flex;
  }

  #mobile-nav nav img {
    height: 24px;
  }
  
  @media only screen and (max-width: 420px) {
      #mobile-nav nav {
          display: inline-flex;
          min-width: 280px;
          max-width: 400px;
          width: 75%;
          justify-content: space-between;
      }
  }

}

/** Style banner **/
.banner {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  padding-left: 20%;
  padding-right: 20%;
  justify-content: space-evenly;
  background-color: #e4440042;
  padding-top: 130px;
  padding-bottom: 130px;
  
}

.banner h1 {
  width: 30%;
  font-size: 3.5rem;
}

.featured img {
  width: 30%;
  border-radius: 10%;
}

/** Style chefs section **/
  section.chefs {
    position: relative;
    display: flex;
    flex-direction: column;
    
    padding-top: 130px;
    padding-bottom: 130px;

  }

  #chefs::before {
    content: "";
    background-image: url("./media/images/wave-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.05;
  }

  #chefs h2 {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
  }

  #chefs p {
    text-align: center;
    font-size: 1.3em;
    width: 600px;
    max-width: 100%;
    justify-content: center;
    margin: 0 auto;
  }

  #chef-pics {
    position: relative;
    display: inline-flex;
    max-width: 80%;
    margin: 0 auto;
    padding-top: 80px;
    justify-content: space-between;
  }

  .chef-pics img {
    max-width: 300px;
    border-radius: 48%;
  }

  .chef-pics figcaption {
    padding-top: 24px;
    text-align: center;
    font-size: 1.125rem;
    font-weight: bold;
    color: #E44600;
  }